---
layout: archive
---

{{ content }}

{% assign tags_max = 0 %}
{% for tag in site.tags %}
  {% if tag[1].size > tags_max %}
    {% assign tags_max = tag[1].size %}
  {% endif %}
{% endfor %}

<ul class="taxonomy__index">
  {% for i in (1..tags_max) reversed %}
    {% for tag in site.tags %}
      {% if tag[1].size == i %}
        <li>
          <a href="#{{ tag[0] | slugify }}">
            <strong>{{ tag[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

{% for i in (1..tags_max) reversed %}
  {% for tag in site.tags %}
    {% if tag[1].size == i %}
      <section id="{{ tag[0] | slugify | downcase }}" class="taxonomy__section">
        <h2 class="archive__subtitle">{{ tag[0] }}</h2>
        <div class="entries-{{ page.entries_layout | default: 'list' }}">
          {% for post in tag.last %}
            {% include archive-single.html type=page.entries_layout %}
          {% endfor %}
        </div>
      </section>
    {% endif %}
  {% endfor %}
{% endfor %}

<!-- jquery 참조 -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<!-- Top Scroll Btn Style -->
<style>
  a#MOVE_TOP_BTN {
  position: fixed;
  right: 2%;
  bottom: 50px;
  display: none;
  z-index: 999;
  }
  
</style>

<!-- Top Scroll Btn -->
<a id="MOVE_TOP_BTN" href="#"><img color="grey" src='/assets/images/Top_Scroll_Btn.png' width="55" height = "55"></a>
<script>
  $(function() {
      $(window).scroll(function() {
          if ($(this).scrollTop() > 500) {
              $('#MOVE_TOP_BTN').fadeIn();
          } else {
              $('#MOVE_TOP_BTN').fadeOut();
          }
      });
    
      $("#MOVE_TOP_BTN").click(function() {
          $('html, body').animate({
              scrollTop : 0
          }, 400);
          return false;
      });
  });
</script>